@* Reusable horizontal navigation buttons *@
<div class="d-flex gap-2 my-3">
    <NavLink class="btn btn-primary" href="" Match="NavLinkMatch.All">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
    </NavLink>
    <NavLink class="btn btn-primary" href="categories">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Categories
    </NavLink>
    <NavLink class="btn btn-primary" href="questions">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Questions
    </NavLink>
    <NavLink class="btn btn-primary" href="interview/list">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Interview List
    </NavLink>
</div>